# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Ignored Folders
__pycache__/
.venv/
old_ui_images/
raw_files/
raw_files_2/
